/* Import Bootstrap */
@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');

/*
 * Universal styling
 */
html, body {
  background-color: #fafafa;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

/*
 * Splash component styling
 */
.splash {
  height: 100vh;
  background-color: inherit;
}

.splash div {
  text-align: center;
}

/*
 * Accounts component styling
 */
#accounts {
  display: none;
  height: 100vh;
}

/*
 * UnlockAccounts component styling
 */
#unlockError {
    display: none;
}
